body {  
    background-image: url("../images/cork.png");
    padding-bottom:70px;
}  

#about-me-section {
  background-color:white;
  margin:3px;
  transition: all 1s;
}

#about-me-section:hover {
  background-color:#4aaaa5;
  color:white;
}

.profpic {
  float:right;
  width:300px;
  height:210px;
  margin:25px;
  padding:7px;
}

h1 {
  text-align:center;
  font-size:36px;
  font-family: 'Encode Sans', sans-serif;
}

#about-para {

  margin-left:20px;
  text-align:left;
  font-size:29px;
  /*font-style:italic;*/
  font-family: 'Questrial', sans-serif;
  /*font-family: 'Inconsolata', monospace;*/

}


.work {
  position: relative;
  float: left;
  width: 325px;
  margin: 20px 0px 25px 125px;
  overflow: none;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
  font-family: 'Encode Sans', sans-serif;
  transition: all 0.5s;
}

.work #hov-text {
  position: absolute;
  top:0;
  padding:10px;
  text-align:center;  
  background-color:#4aaaa5;
  opacity:0;
  transition: all 0.5s;
  font-size:18px;
}

.work:hover #hov-text {
  opacity:1;
}

.work:hover  h3 {
  opacity:0;
}


#connect {
  /*margin-left:22.5%;*/
  
}

#connect-section {
  background-color:white;
  margin:3px;
  transition: all 0.7s;
}
#connect-section:hover {
  background-color:#4aaaa5;
}






#contact-form {
  background-color:white;
}

.sbImg .glyphicon {
  margin:2px;
  padding:2px;
}

#portfolio-section{
  margin:3px;
  background-color:white;
}

a {
  text-decoration:none;
}

#nav-buttons {
  margin-left:25px;
  color:red;
}

.footer {
  background-color:black;
  border-top: 4px solid #4aaaa5;
  color:white;
}

.footerText {
  margin-left:15%;
}